<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Formulario</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">
    </head>
    <body class="container my-2">
        <a class="btn btn-outline-primary my-3" th:href="@{/blob/lista}">Lista Imagenes</a>
        <form method="post" th:action="@{/blob/guardar}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion">
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="file" name="file" accept="image/jpg, image/jpeg, image/png">
                <input type="file" name="my_file[]" multiple>
                <select name="jajaja" id="jaja" multiple>
                    <option value="1">TEST1</option>
                    <option value="2">TEST2</option>
                    <option value="3">TEST3</option>
                    <option value="4">TEST4</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous"></script>
    </body>
</html>